.column-content-card {
    background-color: var(--white);
    margin: 0 4px 10px 10px;
    min-height: 30px;
    border-radius: 5px;
    align-items: center;
    box-shadow: 0 1px 0 #091e4240;
    position: relative;
    cursor: pointer;
    display: flex;

    &_text {
        padding-left: 10px;
        word-wrap: break-word;
        white-space: normal;
        font-size: 14px;
    }

    img {
        display: flex;
        width: 100%;
    }
    &:hover {
        background-color: #f4f5f7;
    }
    &_icon {
        position: absolute;
        top: 7px;
        right: 7px;
        cursor: pointer;
        display: none;
    }
}
